<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>mysugar</title>
	<meta name="description" content="mysugar - המקום הטוב ביותר למציאת הכרויות עם שוגר דדי ושוגר בייב" />
	<meta name="keywords" content="שוגר דדי, שוגר מאמ, הכרויות, מיליונר, אתר הכרויות, מפגשים" />
	<meta name="author" content="mysugar team" />
	<link rel="shortcut icon" href="http://mysugar-assets.s3.amazonaws.com/images/favicon.ico">
	<link rel="apple-touch-icon" href="http://mysugar-assets.s3.amazonaws.com/images/apple-touch-icon.png">

	<%= stylesheet_link_tag      "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= yield(:head) %>
</head>
<body>

<%= yield %>



<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34200170-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
